.post {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	width: 740px;
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 5px 5px 0 rgba(31, 44, 71, 0.05);
	transition: box-shadow 0.1s ease-out;
	margin-bottom: 50px;
}

.post:hover {
	cursor: pointer;
	box-shadow: 0 7px 10px 0 rgba(31, 44, 71, 0.1),
		0 5px 5px 3px rgba(31, 44, 71, 0.05);
}

.post .title {
	margin-bottom: 25px;
	color: #1f2c47;
	font-size: 35px;
	line-height: 40px;
}

.post:hover .title {
	text-decoration-line: underline;
	text-underline-offset: 1.5px;
	text-underline-position: under;
	text-decoration-thickness: 0.5px;
}

.post .workFormat {
	font-size: 18px;
	color: #1f2c47;
	margin-bottom: 25px;
}

.post .description {
	margin-bottom: 25px;
	-webkit-line-clamp: 3;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(31, 44, 71, 0.7) !important;
	word-wrap: break-word;
	font-size: 18px;
}

.description ul {
	margin-left: 15px;
}
.description ul li {
	margin-top: 10px;
	margin-left: 15px;
}
.description p {
	margin-bottom: 10px;
}

.post .options {
	display: flex;
	justify-content: space-between;
}

.post .options p {
	color: rgba(31, 44, 71, 0.7);
	font-size: 18px;
}

.post .options button,
.fullPost .options button,
.fullPost .respond {
	padding: 7px 10px;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	color: #1f2c47;
	border-color: transparent;
	background-color: transparent;
	transition: all 0.15s;
	text-decoration: none;
	font-size: 18px;
	border-radius: 10px;
	font-weight: 500;
}

.post .options button:hover,
.fullPost .options button:hover {
	background-color: rgba(31, 44, 71, 0.07);
}

.fullPost {
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 20px;
	width: 800px;
	background-color: #fff;
}

.fullPost .options {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.fullPost .options button:first-child,
.fullPost .respond {
	background-color: #0098e5;
	margin-right: 20px;
	color: #fff;
}

.fullPost .options button:first-child:hover,
.fullPost .respond:hover {
	background-color: #0087cc;
}

.fullPost .createdAt {
	font-size: 18px;
	color: rgba(31, 44, 71, 0.7);
	margin-bottom: 15px;
}

.fullPost .title {
	max-width: 70%;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 30px;
}

.fullPost .price,
.fullPost .nameCompany,
.fullPost .workFormat,
.fullPost .experience,
.fullPost .language {
	font-weight: 500;
	color: #1f2c47;
	font-size: 18px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.fullPost .tags {
	display: flex;
	margin-bottom: 30px;
}

.fullPost .tags p {
	margin-top: 20px;
	line-height: 22px;
	padding: 5px 15px;
	font-size: 15px;
	max-width: 100%;
	font-weight: 400;
	border-radius: 20px;
	align-items: center;
	display: inline-flex;
	color: #1f2c47 !important;
	background-color: #f0f1f5;
	margin-right: 15px;
}

.fullPost .description {
	color: #1f2c47;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
}
